@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/_base.scss";
/*header*/
/*header part*/

.first {
  align-self: center;
}

.header-logo {
  text-align: center;
  .navbar-brand img {
    height: 100px;
    padding: 0;
  }
}

.header-top {
  background: $blue;
  border-bottom: 1px solid #acacac21;
  .side-nav {
    display: flex;
    ul {
      display: inline-flex;
      li {
        display: flex;
        padding: 0 10px;
      }
      img {
        height: 40px;
        width: 40px;
        object-fit: contain;
        margin-right: 20px;
      }

      a {
        color: #fff;
        strong {
          display: block;
        }
      }
    }
  }
}
.header-content {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  background-color: rgba(33, 37, 41, 0.48);
  .navbar {
    padding: 0;
    #main-navbar {
      justify-content: flex-end;
      .nav-item {
        text-transform: capitalize;
        font-size: 16px;
        padding: 10px 20px;
        &.active {
          color: $green;
        }
        a {
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}
/*slider-css*/
.banner {
  .contents {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100vh - 100px);
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
    display: flex !important;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;

    .caption {
      position: relative;
      color: #fff;
      z-index: 99;
      text-align: celeftnter;
      width: 600px;
      padding: 60px;
      margin: 25px 50px;
      background: rgba(110, 178, 83, 0.8392156862745098);
      h2 {
        font-weight: 700;
        font-size: 47px;
        margin-bottom: 20px;
        letter-spacing: 2px;
        line-height: 50px;
        text-transform: uppercase;
      }
      strong {
        font-size: 16px;
      }
    }
  }
  .slick-arrow {
    background: $blue;
    position: absolute;
    bottom: 0%;
    left: 6.5%;
    font-size: 25px;
    color: #fff;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 1001;
  }
  .right.slick-arrow {
    margin-left: 50px;
  }
}

/* about-part*/
.about-part {
  position: relative;
  &:before {
    content: "";
    background-color: #fff;
    background-image: url("../images/random.svg");
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  .counter {
    .item {
      font-size: 55px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
      color: #fff;

      span {
        font-size: 16px;
        text-align: center;
        color: #fff;
        line-height: 24px;
        display: block;
        font-weight: 500;
      }
      .number {
        line-height: 70px;
        font-size: 55px;
        font-weight: 500;
        display: inline-block;
      }
    }
    .green-circle {
      position: absolute;
      right: 50%;
      background-color: rgba(144, 216, 119, 0.7);
      height: 232px;
      width: 232px;
      padding: 55px 0px;
      @include border-radius(50%);
    }
    .blue-cirle {
      position: absolute;
      background-color: rgba(40, 137, 205, 0.73);
      right: 50%;
      transform: translate(50%, 59%);
      height: 280px;
      width: 280px;
      padding: 75px 0px;
      @include border-radius(50%);
    }
    .orange-circle {
      position: absolute;
      background-color: rgba(255, 177, 108, 0.7);
      height: 197px;
      width: 197px;
      @include border-radius(50%);
      transform: translateY(43%);
      right: 2%;
      padding: 60px 0px;
    }
    #number2 {
      position: relative;
      &:before {
        content: "+";
        left: 100%;
        position: absolute;
      }
    }
  }
  .about-det {
    text-align: center;
    p {
      strong {
        margin-top: 30px;
        display: block;
        text-align: center;
      }
    }
  }
}


/*services part*/

.services {
  position: relative;
  &:before {
    content: "";
    background-color: #fff;
    background-image: url("../images/random.svg");
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
  .head-box {
    text-align: center;
    span {
      padding: 0;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -86px;
        width: 80px;
        height: 1px;
        background-color: #f58802;
      }
    }
  }
  .service-box {
    background-color: #fff;
    margin: 15px 0;
    padding: 40px 30px;
    @include box-shadow(1px, 1px, 20px, 1px, rgba(0, 0, 0, 0.08));
    display: flex;
    align-items: flex-start;
    @include transition(all, 0.5s, linear);
    &:hover {
      @include box-shadow(1px, 1px, 20px, 1px, rgba(0, 0, 0, 0.26));
    }
    .service-title {
      h3 {
        font-size: 22px;
        text-transform: capitalize;
      }
    }

    .service-icon {
      margin-right: 20px;
      i {
        height: 50px;
        width: 50px;
        line-height: 50px;
        color: #fff;
        text-align: center;
        font-size: 23px;
        font-weight: 600;
      }
      .purple {
        background: #62a9db;
      }
      .bluee {
        background: #70cecd;
      }
      .green {
        background: #90d877;
      }
      .light-orange {
        background: #ffb16c;
      }
    }
    .service-detail {
      padding: 0 10px;
    }
  }
}

// product -section
.products {
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    background-color: #fff;
    background-image: url("../images/random.svg");
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
  &:hover .right.slick-arrow {
    right: 0;
  }
  &:hover .left.slick-arrow {
    left: 0;
  }
  .right.slick-arrow {
    right: -25%;
  }
  .left.slick-arrow {
    left: -20%;
  }
  .product-carousel {
    .product-box {
      @include transition(all, 0.5s, linear);
      @include box-shadow(1px, 1px, 20px, 1px, rgba(0, 0, 0, 0.08));
      margin: 10px;
      background-color: #fff;
      &:hover {
        @include box-shadow(1px, 1px, 20px, 1px, rgba(0, 0, 0, 0.26));
        margin-top: -10px;
      }
      .product-image {
        img {
          width: 100%;
          height: 200px;
        }
      }
      .product-detail {
        padding: 10px;
        border: 1px solid #acacac21;
        min-height: 75px;
        h4 {
          text-transform: capitalize;
          font-size: 18px;
        }
      }
    }
    .slick-list.draggable {
      padding: 30px 0;
    }

    .slick-arrow {
      @include transition(all, 600ms, ease-out);
      background: $blue;
      position: absolute;
      bottom: 50%;
      font-size: 25px;
      color: #fff;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      z-index: 1001;
    }
  }
}

// client testimonial
.client-testimonial {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:350px;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.8;
  }

  .testimonial-carousel{
    margin-top: -190px;
    .slick-dots {
      left: 0;
      width: auto; 
      li {
        width: 30px;
        height: 2px;
        background-color: #525151;
        &:nth-child(2n+1){
          display: none;
        }
        &.slick-active{
          background-color: #fff;
        }
        }
    }
  }
    
  }
  .testmonial-wrap {
    display: flex !important;
    align-items: center;
    .img-box {
      width: 30%;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .testimonial-det {
      margin-top: 150px;
      width: 70%;
      font-weight: 500;
      h5 {
        color: #fff;
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 40px;
      }
      p {
        color: #fff;
        position: relative;
        padding-left:50px;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: -5px;
          width: 50px;
          height: 1px;
          background-color: $orange;
        }
      }
    }
  }


/*footer*/
footer {
  text-align: center;
  .footer-top {
    position:relative;
    background: $blue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    &:after{
      content: "";
      position: absolute;
      border: 1px solid #70cecd;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
    p{
      color:inherit;
      text-align: center;
    }
    .btn-1 {
      background-color: rgba(32, 48, 60, 0.73);
      color:#fff;
      &:after {
        background: $green;
      }
    }
}
  
  .footer-bottom {
    display: flex;
    height: 200px;
    align-items: center;
    text-transform: capitalize;
    
    .foot-title{
      
      h6 {
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p{
      font-size: 17px;
    }
    }
    .footer-social {
      padding:0;
      text-align: left;
      li {
        display: inline-block;
        font-size: 20px;
        height: 32px;
        width: 32px;
        line-height: 32px;
        @include border-radius(5px);
        margin-right: 10px;
        text-align: center;
        a {
          color:#fff;
          &:hover {
            color: $green;
          }
        }
      }
      .facebook{
        background-color: #3b5998;
      }
      .twitter{
        background-color: #1da1f2;
      }
      .instagram{
        background-color:#f0327f;
      }
      .linked{
        background-color:#0E76A8;
      }
    }

}
  .copyright {
    background-color:#eaeaea;
    padding: 20px 0;
    
    p {
      font-size:16px;
      color: #acacac;
      text-align: center;
    }
    a {
      font-weight: 600;
      color: $blue;
      &:hover {
        color: $green;
      }
    }
    
  }
}

/*bread-crum css*/

.inner-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-attachment: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.inner-banner::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background: #000000;
  opacity: 0.7;
  z-index: -1;
}

.inner-banner a {
  color: #fff;
}

.inner-banner ol.breadcrumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  text-transform: uppercase;
  background: transparent;
}

.inner-banner .breadcrumb-item + .breadcrumb-item::before {
  color: #edf2f7;
}

.inner-banner .breadcrumb-item.active {
  color: $blue;
}

.inner-banner h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
}

/*inner about*/

.about-us img {
  float: left;
  max-width: 100%;
  height: 300px;
  padding: 0 10px 0 0;
}

/*contact-page*/
.contact-part .icon_box_wrapper p {
  margin-bottom: 15px;
  text-align: center;
}

.contact-page .right-contact {
  padding: 30px;
}

.contact-page .right-contact .form-control {
  margin: 15px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
