.row {
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 15px;
  color: #202020;
  line-height: 24px;
}

body .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

body textarea {
  border-color: #ccc;
}

body textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  outline: none;
}

body a {
  color: #211f1f;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

body a:hover {
  text-decoration: none;
  color: #49ad22;
}

body p {
  text-align: justify;
  line-height: 28px;
  color: #211f1f;
  font-size: 14px;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

body button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 1c */
.btn-1 {
  border: 1px solid #2889cd;
  color: #2889cd;
  z-index: 1;
}

.btn-1:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #49ad22;
  z-index: -1;
}

.btn-1:hover,
.btn-1 :active {
  color: #fff;
  border: 1px solid #49ad22;
}

.btn-1c:hover:after,
.btn-1c:active:after {
  width: 100%;
}

.head-box {
  text-align: left;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.head-box span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #49ad22;
  position: relative;
  padding-left: 80px;
  color: orange;
}

.head-box span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: 80px;
  height: 1px;
  background-color: #f58802;
}

.head-box h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  margin: 20px 0;
  color: #000;
}

.no-pad {
  padding: 0;
}

.padding {
  padding: 50px;
}

:focus {
  outline: none;
}

/*header*/
/*header part*/
.first {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-logo {
  text-align: center;
}

.header-logo .navbar-brand img {
  height: 100px;
  padding: 0;
}

.header-top {
  background: #2889cd;
  border-bottom: 1px solid #acacac21;
}

.header-top .side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .side-nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-top .side-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

.header-top .side-nav ul img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}

.header-top .side-nav ul a {
  color: #fff;
}

.header-top .side-nav ul a strong {
  display: block;
}

.header-content {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  background-color: rgba(33, 37, 41, 0.48);
}

.header-content .navbar {
  padding: 0;
}

.header-content .navbar #main-navbar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-content .navbar #main-navbar .nav-item {
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px 20px;
}

.header-content .navbar #main-navbar .nav-item.active {
  color: #49ad22;
}

.header-content .navbar #main-navbar .nav-item a {
  font-weight: 600;
  color: #fff;
}

/*slider-css*/
.banner .contents {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: calc(100vh - 200px);
  opacity: 1;
  visibility: inherit;
  z-index: 20;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.banner .contents .caption {
  position: relative;
  background: #fff;
  color: #000;
  z-index: 99;
  text-align: celeftnter;
  width: 600px;
  padding: 40px;
  margin: 25px 50px;
}

.banner .contents .caption h2 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
  text-transform: uppercase;
}

.banner .contents .caption strong {
  font-size: 16px;
}

.banner .slick-arrow {
  background: #2889cd;
  position: absolute;
  bottom: 0%;
  left: 6.5%;
  font-size: 25px;
  color: #fff;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 1001;
}

.banner .right.slick-arrow {
  margin-left: 50px;
}

/* about-part*/
.about-part {
  position: relative;
}

.about-part:before {
  content: "";
  background-color: #fff;
  background-image: url("../images/random.svg");
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.about-part .counter .item {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}

.about-part .counter .item span {
  font-size: 16px;
  text-align: center;
  color: #fff;
  line-height: 24px;
  display: block;
  font-weight: 500;
}

.about-part .counter .item .number {
  line-height: 70px;
  font-size: 55px;
  font-weight: 500;
  display: inline-block;
}

.about-part .counter .green-circle {
  position: absolute;
  right: 50%;
  background-color: rgba(144, 216, 119, 0.7);
  height: 232px;
  width: 232px;
  padding: 55px 0px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.about-part .counter .blue-cirle {
  position: absolute;
  background-color: rgba(40, 137, 205, 0.73);
  right: 50%;
  -webkit-transform: translate(50%, 59%);
          transform: translate(50%, 59%);
  height: 280px;
  width: 280px;
  padding: 75px 0px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.about-part .counter .orange-circle {
  position: absolute;
  background-color: rgba(255, 177, 108, 0.7);
  height: 197px;
  width: 197px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transform: translateY(43%);
          transform: translateY(43%);
  right: 2%;
  padding: 60px 0px;
}

.about-part .counter #number2 {
  position: relative;
}

.about-part .counter #number2:before {
  content: "+";
  left: 100%;
  position: absolute;
}

.about-det {
  text-align: center;
}

.about-det p strong {
  margin-top: 30px;
  display: block;
  text-align: center;
}

/*services part*/
.services {
  position: relative;
}

.services:before {
  content: "";
  background-color: #fff;
  background-image: url("../images/random.svg");
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.services .head-box {
  text-align: center;
}

.services .head-box span {
  padding: 0;
}

.services .head-box span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -86px;
  width: 80px;
  height: 1px;
  background-color: #f58802;
}

.services .service-box {
  background-color: #fff;
  margin: 15px 0;
  padding: 40px 30px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
}

.services .service-box:hover {
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
}

.services .service-box .service-title h3 {
  font-size: 22px;
  text-transform: capitalize;
}

.services .service-box .service-icon {
  margin-right: 20px;
}

.services .service-box .service-icon i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
}

.services .service-box .service-icon .purple {
  background: #a189e6;
}

.services .service-box .service-icon .bluee {
  background: #70cecd;
}

.services .service-box .service-icon .green {
  background: #90d877;
}

.services .service-box .service-icon .light-orange {
  background: #ffb16c;
}

.services .service-box .service-detail {
  padding: 0 10px;
}

.products {
  overflow: hidden;
  position: relative;
}

.products:before {
  content: "";
  background-color: #fff;
  background-image: url("../images/random.svg");
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.products:hover .right.slick-arrow {
  right: 0;
}

.products:hover .left.slick-arrow {
  left: 0;
}

.products .right.slick-arrow {
  right: -25%;
}

.products .left.slick-arrow {
  left: -20%;
}

.products .product-carousel .product-box {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  margin: 10px;
  background-color: #fff;
}

.products .product-carousel .product-box:hover {
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  margin-top: -10px;
}

.products .product-carousel .product-box .product-image img {
  width: 100%;
  height: 200px;
}

.products .product-carousel .product-box .product-detail {
  padding: 10px;
  border: 1px solid #acacac21;
  min-height: 75px;
}

.products .product-carousel .product-box .product-detail h4 {
  text-transform: capitalize;
  font-size: 18px;
}

.products .product-carousel .slick-list.draggable {
  padding: 30px 0;
}

.products .product-carousel .slick-arrow {
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  background: #2889cd;
  position: absolute;
  bottom: 50%;
  font-size: 25px;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 1001;
}

.client-testimonial {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.client-testimonial:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.8;
}

.client-testimonial .testimonial-carousel {
  margin-top: -90px;
}

.client-testimonial .testimonial-carousel .slick-dots {
  left: 0;
  width: auto;
}

.client-testimonial .testimonial-carousel .slick-dots li {
  width: 30px;
  height: 2px;
  background-color: #525151;
}

.client-testimonial .testimonial-carousel .slick-dots li:nth-child(2n+1) {
  display: none;
}

.client-testimonial .testimonial-carousel .slick-dots li.slick-active {
  background-color: #fff;
}

.testmonial-wrap {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testmonial-wrap .img-box {
  width: 30%;
}

.testmonial-wrap .img-box img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.testmonial-wrap .testimonial-det {
  margin-top: 90px;
  width: 70%;
  font-weight: 500;
}

.testmonial-wrap .testimonial-det h5 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 40px;
}

.testmonial-wrap .testimonial-det p {
  color: #fff;
  position: relative;
  padding-left: 50px;
}

.testmonial-wrap .testimonial-det p:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: 50px;
  height: 1px;
  background-color: #f58802;
}

/*team-member*/
.team-wrapper {
  margin: 0 10px;
  position: relative;
}

.team-image {
  overflow: hidden;
}

.team-image img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-detail {
  position: absolute;
  padding: 10px;
  width: 100%;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.96)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.96) 0%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.96) 0%, rgba(255, 255, 255, 0) 100%);
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
}

.team-detail h3 {
  color: #fff;
  font-size: 20px;
}

.team-detail strong {
  color: #fff;
}

.team {
  overflow: hidden;
}

.team .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 999;
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  height: 50px;
  width: 50px;
  background: #49ad22;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  opacity: 0;
}

.team:hover .right.slick-arrow {
  right: -4%;
  opacity: 1;
}

.team:hover .left.slick-arrow {
  left: -4%;
  opacity: 1;
}

.team .right.slick-arrow {
  right: -10%;
}

.team .left.slick-arrow {
  left: -10%;
}

/*footer*/
footer {
  text-align: center;
}

footer .footer-top {
  background: #2889cd;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top p {
  text-align: center;
}

footer .footer-top .btn-1:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: -1;
}

footer .social li {
  display: inline-block;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border: 1px solid #fff;
  line-height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-right: 10px;
}

footer .social li a {
  color: #fff;
}

footer .social li a:hover {
  color: #49ad22;
}

footer .small-nav li {
  display: inline-block;
  padding: 10px;
  position: relative;
}

footer .small-nav li a {
  color: #fff;
  font-size: 16px;
}

footer .small-nav li a:hover {
  color: #49ad22;
}

footer .small-nav li:before {
  right: -7px;
  position: absolute;
  content: "/";
  color: #fff;
  font-size: 22px;
}

footer .copyright p {
  color: #fff;
  text-align: center;
}

footer .copyright a {
  font-weight: 600;
  color: #fff;
}

footer .copyright a:hover {
  color: #49ad22;
}

/*bread-crum css*/
.inner-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-attachment: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.inner-banner::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background: #000000;
  opacity: 0.7;
  z-index: -1;
}

.inner-banner a {
  color: #fff;
}

.inner-banner ol.breadcrumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  text-transform: uppercase;
  background: transparent;
}

.inner-banner .breadcrumb-item + .breadcrumb-item::before {
  color: #edf2f7;
}

.inner-banner .breadcrumb-item.active {
  color: #2889cd;
}

.inner-banner h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
}

/*inner about*/
.about-us img {
  float: left;
  max-width: 100%;
  height: 300px;
  padding: 0 10px 0 0;
}

/*contact-page*/
.contact-part .icon_box_wrapper p {
  margin-bottom: 15px;
  text-align: center;
}

.contact-page .right-contact {
  padding: 30px;
}

.contact-page .right-contact .form-control {
  margin: 15px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
/*# sourceMappingURL=style.css.map */