.row {
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 15px;
  color: #202020;
  line-height: 24px;
}

body .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

body textarea {
  border-color: #ccc;
}

body textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  outline: none;
}

body a {
  color: #211f1f;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

body a:hover {
  text-decoration: none;
  color: #49ad22;
}

body p {
  text-align: justify;
  line-height: 28px;
  color: #211f1f;
  font-size: 14px;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

body button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 1c */
.btn-1 {
  border: 1px solid #2889cd;
  color: #2889cd;
  z-index: 1;
}

.btn-1:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #49ad22;
  z-index: -1;
}

.btn-1:hover,
.btn-1 :active {
  color: #fff;
  border: 1px solid #49ad22;
}

.btn-1c:hover:after,
.btn-1c:active:after {
  width: 100%;
}

.head-box {
  text-align: left;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.head-box span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #49ad22;
  position: relative;
  padding-left: 80px;
  color: orange;
}

.head-box span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: 80px;
  height: 1px;
  background-color: #f58802;
}

.head-box h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  margin: 20px 0;
  color: #000;
}

.no-pad {
  padding: 0;
}

.padding {
  padding: 50px;
}

:focus {
  outline: none;
}

/*header*/
/*header part*/
.first {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-logo {
  text-align: center;
}

.header-logo .navbar-brand img {
  height: 100px;
  padding: 0;
}

.header-top {
  background: #2889cd;
  border-bottom: 1px solid #acacac21;
}

.header-top .side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .side-nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-top .side-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

.header-top .side-nav ul img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}

.header-top .side-nav ul a {
  color: #fff;
}

.header-top .side-nav ul a strong {
  display: block;
}

.header-content {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  background-color: rgba(33, 37, 41, 0.48);
}

.header-content .navbar {
  padding: 0;
}

.header-content .navbar #main-navbar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-content .navbar #main-navbar .nav-item {
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px 20px;
}

.header-content .navbar #main-navbar .nav-item.active {
  color: #49ad22;
}

.header-content .navbar #main-navbar .nav-item a {
  font-weight: 600;
  color: #fff;
}

/*slider-css*/
.banner .contents {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: calc(100vh - 100px);
  opacity: 1;
  visibility: inherit;
  z-index: 20;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.banner .contents .caption {
  position: relative;
  color: #fff;
  z-index: 99;
  text-align: celeftnter;
  width: 600px;
  padding: 60px;
  margin: 25px 50px;
  background: rgba(110, 178, 83, 0.839216);
}

.banner .contents .caption h2 {
  font-weight: 700;
  font-size: 47px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 50px;
  text-transform: uppercase;
}

.banner .contents .caption strong {
  font-size: 16px;
}

.banner .slick-arrow {
  background: #2889cd;
  position: absolute;
  bottom: 0%;
  left: 6.5%;
  font-size: 25px;
  color: #fff;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 1001;
}

.banner .right.slick-arrow {
  margin-left: 50px;
}

/* about-part*/
.about-part {
  position: relative;
}

.about-part:before {
  content: "";
  background-color: #fff;
  background-image: url("../images/random.svg");
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.about-part .counter .item {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}

.about-part .counter .item span {
  font-size: 16px;
  text-align: center;
  color: #fff;
  line-height: 24px;
  display: block;
  font-weight: 500;
}

.about-part .counter .item .number {
  line-height: 70px;
  font-size: 55px;
  font-weight: 500;
  display: inline-block;
}

.about-part .counter .green-circle {
  position: absolute;
  right: 50%;
  background-color: rgba(144, 216, 119, 0.7);
  height: 232px;
  width: 232px;
  padding: 55px 0px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.about-part .counter .blue-cirle {
  position: absolute;
  background-color: rgba(40, 137, 205, 0.73);
  right: 50%;
  -webkit-transform: translate(50%, 59%);
          transform: translate(50%, 59%);
  height: 280px;
  width: 280px;
  padding: 75px 0px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.about-part .counter .orange-circle {
  position: absolute;
  background-color: rgba(255, 177, 108, 0.7);
  height: 197px;
  width: 197px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transform: translateY(43%);
          transform: translateY(43%);
  right: 2%;
  padding: 60px 0px;
}

.about-part .counter #number2 {
  position: relative;
}

.about-part .counter #number2:before {
  content: "+";
  left: 100%;
  position: absolute;
}

.about-part .about-det {
  text-align: center;
}

.about-part .about-det p strong {
  margin-top: 30px;
  display: block;
  text-align: center;
}

/*services part*/
.services {
  position: relative;
}

.services:before {
  content: "";
  background-color: #fff;
  background-image: url("../images/random.svg");
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.services .head-box {
  text-align: center;
}

.services .head-box span {
  padding: 0;
}

.services .head-box span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -86px;
  width: 80px;
  height: 1px;
  background-color: #f58802;
}

.services .service-box {
  background-color: #fff;
  margin: 15px 0;
  padding: 40px 30px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
}

.services .service-box:hover {
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
}

.services .service-box .service-title h3 {
  font-size: 22px;
  text-transform: capitalize;
}

.services .service-box .service-icon {
  margin-right: 20px;
}

.services .service-box .service-icon i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
}

.services .service-box .service-icon .purple {
  background: #62a9db;
}

.services .service-box .service-icon .bluee {
  background: #70cecd;
}

.services .service-box .service-icon .green {
  background: #90d877;
}

.services .service-box .service-icon .light-orange {
  background: #ffb16c;
}

.services .service-box .service-detail {
  padding: 0 10px;
}

.products {
  overflow: hidden;
  position: relative;
}

.products:before {
  content: "";
  background-color: #fff;
  background-image: url("../images/random.svg");
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.products:hover .right.slick-arrow {
  right: 0;
}

.products:hover .left.slick-arrow {
  left: 0;
}

.products .right.slick-arrow {
  right: -25%;
}

.products .left.slick-arrow {
  left: -20%;
}

.products .product-carousel .product-box {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  margin: 10px;
  background-color: #fff;
}

.products .product-carousel .product-box:hover {
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.26);
  margin-top: -10px;
}

.products .product-carousel .product-box .product-image img {
  width: 100%;
  height: 200px;
}

.products .product-carousel .product-box .product-detail {
  padding: 10px;
  border: 1px solid #acacac21;
  min-height: 75px;
}

.products .product-carousel .product-box .product-detail h4 {
  text-transform: capitalize;
  font-size: 18px;
}

.products .product-carousel .slick-list.draggable {
  padding: 30px 0;
}

.products .product-carousel .slick-arrow {
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  background: #2889cd;
  position: absolute;
  bottom: 50%;
  font-size: 25px;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 1001;
}

.client-testimonial {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

.client-testimonial:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.8;
}

.client-testimonial .testimonial-carousel {
  margin-top: -190px;
}

.client-testimonial .testimonial-carousel .slick-dots {
  left: 0;
  width: auto;
}

.client-testimonial .testimonial-carousel .slick-dots li {
  width: 30px;
  height: 2px;
  background-color: #525151;
}

.client-testimonial .testimonial-carousel .slick-dots li:nth-child(2n+1) {
  display: none;
}

.client-testimonial .testimonial-carousel .slick-dots li.slick-active {
  background-color: #fff;
}

.testmonial-wrap {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testmonial-wrap .img-box {
  width: 30%;
}

.testmonial-wrap .img-box img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.testmonial-wrap .testimonial-det {
  margin-top: 150px;
  width: 70%;
  font-weight: 500;
}

.testmonial-wrap .testimonial-det h5 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 40px;
}

.testmonial-wrap .testimonial-det p {
  color: #fff;
  position: relative;
  padding-left: 50px;
}

.testmonial-wrap .testimonial-det p:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: 50px;
  height: 1px;
  background-color: #f58802;
}

/*footer*/
footer {
  text-align: center;
}

footer .footer-top {
  position: relative;
  background: #2889cd;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

footer .footer-top:after {
  content: "";
  position: absolute;
  border: 1px solid #70cecd;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

footer .footer-top p {
  color: inherit;
  text-align: center;
}

footer .footer-top .btn-1 {
  background-color: rgba(32, 48, 60, 0.73);
  color: #fff;
}

footer .footer-top .btn-1:after {
  background: #49ad22;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

footer .footer-bottom .foot-title h6 {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

footer .footer-bottom .foot-title p {
  font-size: 17px;
}

footer .copyright {
  background-color: #eaeaea;
  padding: 20px 0;
}

footer .copyright p {
  font-size: 16px;
  color: #acacac;
  text-align: center;
}

footer .copyright a {
  font-weight: 600;
  color: #2889cd;
}

footer .copyright a:hover {
  color: #49ad22;
}

.social-link {
  padding: 0;
  text-align: left;
}

.social-link li {
  display: inline-block;
  font-size: 20px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-right: 10px;
  text-align: center;
}

.social-link li a {
  color: #fff;
}

.social-link li a:hover {
  color: #49ad22;
}

.social-link .facebook {
  background-color: #3b5998;
}

.social-link .twitter {
  background-color: #1da1f2;
}

.social-link .instagram {
  background-color: #f0327f;
}

.social-link .linked {
  background-color: #0E76A8;
}

/*bread-crum css*/
.inner-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-attachment: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.inner-banner::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background: #000000;
  opacity: 0.7;
  z-index: -1;
}

.inner-banner a {
  color: #fff;
}

.inner-banner ol.breadcrumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  text-transform: uppercase;
  background: transparent;
}

.inner-banner .breadcrumb-item + .breadcrumb-item::before {
  color: #edf2f7;
}

.inner-banner .breadcrumb-item.active {
  color: #2889cd;
}

.inner-banner h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
}

/*inner about*/
.about-us img {
  float: left;
  max-width: 100%;
  height: 300px;
  padding: 0 10px 0 0;
}

/*contact-page*/
.contact-part .icon_box_wrapper p {
  margin-bottom: 15px;
  text-align: center;
}

.contact-page .right-contact {
  padding: 30px;
}

.contact-page .right-contact .form-control {
  margin: 15px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

.product-side-image img {
  width: 100px;
  height: 100px;
  box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  -webkit-box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  -moz-box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  border: 1px solid rgba(128, 128, 128, 0.45098);
}

.product-zoom-image img {
  max-width: 100%;
  height: 407px;
  box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  -webkit-box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  -moz-box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  border: 1px solid rgba(128, 128, 128, 0.45098);
}

.product-detail-image .slider-for {
  width: 500px;
  height: auto;
  margin: 10px auto 1px;
  overflow: hidden;
}

.product-detail-image .slider-nav {
  width: 500px;
  height: auto;
  margin-top: -41px;
  overflow: hidden;
}

.youtube-video iframe {
  margin-top: 40px;
  width: 620px;
  height: 315px;
}

.process-list {
  margin-top: 20px;
  color: #696969;
  font-size: 14px;
  text-align: justify;
}

.process-list li {
  list-style: circle;
}

.media-share {
  border: 1px solid rgba(128, 128, 128, 0.45098);
  padding: 10px;
  display: inline-block;
}

.media-share .social-link {
  display: inline;
}

.service-box {
  cursor: pointer;
}

.service-image {
  float: left;
}

.service-image img {
  max-width: 100%;
  height: 400px;
  margin-right: 40px;
  box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  -webkit-box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  -moz-box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  border: 1px solid rgba(128, 128, 128, 0.45098);
}

.service-section .service-content-header h3 {
  font-weight: bold;
  font-size: large;
  position: relative;
  padding-left: 68%;
}

.service-section .service-content-header h3::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
  left: 59%;
  width: 80px;
  height: 1px;
  background-color: #f58802;
}

.gallery-part.padding {
  margin: 0px 160px;
}

.gallery-wrapper {
  box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  -webkit-box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
  -moz-box-shadow: 1px 5px 5px 0px rgba(128, 128, 128, 0.45098);
}

.gallery-title h1 {
  font-size: 32px;
}

.gallery-title span {
  color: #ce0a0a;
}

.gallery-wrap img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  webkit-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: copy;
}

.gallery-wrap {
  overflow: hidden;
  cursor: copy;
}

.gallery-wrap:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.gallery-det {
  background: #2889cd;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.products .product-box .product-image img {
  width: 100%;
  height: 200px;
}

.products .product-box .product-detail {
  padding: 10px;
  border: 1px solid #acacac21;
  min-height: 75px;
}

.products .product-box {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.08);
  margin: 10px;
  background-color: #fff;
}

.products .product-box .product-detail {
  padding: 10px;
  border: 1px solid #acacac21;
  min-height: 75px;
}

.products .product-box .product-detail h4 {
  text-transform: capitalize;
  font-size: 18px;
}

.head-pad {
  margin-top: 90px;
}

.about-us-image img {
  float: right;
  width: 40%;
  margin-left: 25px;
  margin-bottom: 5px;
}

.content-center {
  text-align: center;
}

.about-content-header h3 {
  font-size: large;
  margin-top: 20px;
}

.about-content-header span {
  color: #6eb354;
  font-weight: 600;
}

.about-content-header p {
  font-style: italic;
  color: #767676;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.about-us-inner {
  margin-top: 20px;
  color: #696969;
  font-size: 14px;
  text-align: justify;
}

.about-us-inner a:hover {
  color: #6eb354;
}

.about-feature-box {
  cursor: pointer;
  text-align: center;
  border: 1px solid #80808047;
  -webkit-box-shadow: 1px 2px 3px 0px #808080bf;
          box-shadow: 1px 2px 3px 0px #808080bf;
  padding: 23px 10px 8px 15px;
  margin-top: 40px;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.about-feature-box .fas {
  color: #28abe1;
  font-size: 30px;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}

.about-feature-box:hover .fas {
  color: #6eb354;
}

.about-feature-box .far {
  color: #28abe1;
  font-size: 30px;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}

.about-feature-box:hover .far {
  color: #6eb354;
}

.about-feature-box:hover {
  -webkit-box-shadow: 3px 4px 3px 0px #808080bf;
          box-shadow: 3px 4px 3px 0px #808080bf;
}

.about-feature-box p {
  color: #767676;
}

.about-feature-box-head {
  margin-top: 20px;
}

.about-feature-box-head p {
  margin-top: 10px;
  font-size: small;
}

/*--- OUR TEAM ---*/
.team-branch-header {
  margin-top: 40px;
}

.team-branch-header h5 {
  position: relative;
  padding-left: 15px;
}

.team-branch-header h5::before {
  content: '';
  position: absolute;
  display: block;
  height: 25px;
  width: 6px;
  background-color: #6eb354;
  left: 0;
  top: 0%;
  right: 0;
  bottom: 0;
}

.team-inner {
  margin-top: 10px !important;
  background-color: white;
  border: 1px solid #8080804d;
  -webkit-box-shadow: 1px 2px 3px 0px #808080bf;
          box-shadow: 1px 2px 3px 0px #808080bf;
  border-radius: 5px;
  padding: 10px 0px 0px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}

.team-inner:hover {
  -webkit-box-shadow: 3px 4px 3px 0px #808080bf;
          box-shadow: 3px 4px 3px 0px #808080bf;
}

.team-inner:hover .team-text h6::after {
  border: 1px solid #6eb354;
}

.team-inner img {
  border-radius: 75px;
  padding: 12px 16px;
  width: 70%;
}

.team-text {
  text-align: center;
  padding: 5px;
}

.team-text h6 {
  font-size: large;
  font-weight: 700;
  position: relative;
}

.team-text h6::after {
  position: absolute;
  content: '';
  border: 1px solid #00a7e2;
  width: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -5px;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}

.team-text p {
  margin-top: 11px;
  font-weight: 400;
  color: #000000d1;
  text-align: center;
}

.head-box .about-content-header {
  font-style: italic;
  color: #767676;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

/*--- CONTACT US --*/
.contact-text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d8d3d3ab;
  -webkit-box-shadow: 1px 3px 7px 0px #6565656e;
          box-shadow: 1px 3px 7px 0px #6565656e;
  border-left: 5px solid orange;
  padding: 40px 80px 10px 80px;
  background-color: #8080801f;
  margin-top: 15px !important;
}

.message-form {
  background-color: #80808024;
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 3px 7px 0px #6565656e;
          box-shadow: 1px 3px 7px 0px #6565656e;
}

.contact-section input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-section input[type=number] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-section input[type=submit] {
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
  background-color: #00a7e2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-section input[type=submit]:hover {
  background-color: #0084e2;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info-icon {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #00a7e2;
  text-align: center;
  line-height: 70px;
  border: 1px solid #f6f6f6;
}

.contact-info-icon i {
  background: #f6f6f6;
  width: 50px;
  height: 50px;
  margin: 9px 10px 10px 9px;
  line-height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.contact-info-details {
  display: table-cell;
}

.contact-info-icon .ss {
  padding: 2px;
}

.gmap {
  padding-top: 20px;
}

.gmap iframe {
  border-radius: 2px;
}

.contact-information {
  background: #80808024;
  border-left: 4px solid #00a7e2;
  margin-top: 40px;
  padding: 17px 10px 3px;
  border-radius: 0 5px 5px 0px;
  -webkit-box-shadow: 1px 3px 7px 0px #6565656e;
          box-shadow: 1px 3px 7px 0px #6565656e;
}
/*# sourceMappingURL=style.css.map */