.row{
  width: 100%;
}
body {
  font-size: 14px;
  font-family: $font;
  line-height: 22px;
  background: #fff;
  background-attachment: fixed;
  background-image: url("../images/prism.svg");
  .form-control {
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: #ccc;
    }
  }
  textarea {
    border-color: #ccc;
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: #ccc;
      outline: none;
    }
  }
  a {
    color: #211f1f;
    @include transition(all, 0.5s, ease-in-out);
    &:hover {
      text-decoration: none;
      color:$green;
    }
  }
  p{
    text-align: justify;
    line-height: 28px;
    color: #211f1f;
    font-size: 14px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  button {
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
    }
    &:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .btn {
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
    }
  }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: $font;
}
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 7px 15px;
  display: inline-block;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 1c */
.btn-1 {
  border:1px solid $blue;
  color: $blue;
  z-index: 1;
  &:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: $green;
    z-index: -1;
  }
  &:hover,:active {
  color: #fff;
  border:1px solid $green;
}
}



.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}
.head-title {
    margin-bottom: 40px;
    text-align: center;
    h2{
      position: relative;
      display: inline-block;
      margin: 0px;
      text-transform: capitalize;
      font-size: 25px;
      color: #000000cf;
      font-weight: 700;
      padding-left: 10px;
      &:before{
        content: "";
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 40%;
        position: absolute;
        background: #ffb200;
      }
    }
}
.no-pad{
  padding:0;
}
.padding{
  padding:50px;
}
:focus{
  outline:none;
}